{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des Créneaux</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Dateheure</th>
                <th>Duree</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for creneau in creneaus %}
            <tr>
                <td><a href="{{ path('creneau_show', { 'id': creneau.id }) }}">{{ creneau.id }}</a></td>
                <td>{% if creneau.dateheure %}{{ creneau.dateheure|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ creneau.duree }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('creneau_show', { 'id': creneau.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('creneau_edit', { 'id': creneau.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
