{% extends 'AlterEgoBundle:Coach:layout_coach.html.twig' %}

{% block content %}
    <h1 class="title_activity">Liste des Créneaux</h1>

    <table class="table-responsive table-bordered">
        <thead>
            <tr>
                <th class="text-center">Activite</th>
                <th class="text-center">Date</th>
                <th class="text-center">Voir/Editer</th>
            </tr>
        </thead>
        <tbody>
        {% for creneau in creneaus %}
            <tr class="text-center">
                <td>{{ creneau.activite.activite|upper }}</td>
                <td>{% if creneau.dateheure %}<p>Le</p>{{ creneau.dateheure|date('d-m-Y') }}<p>à</p> {{ creneau.dateheure|date('H:i') }}{% endif %}</td>
                <td>
                    <div>
                        <a href="{{ path('creneau_show', { 'id': creneau.id }) }}"><p><i class="fa fa-eye"></i></p></a>
                        <a href="{{ path('creneau_edit', { 'id': creneau.id }) }}"><p><i class="fa fa-pencil"></i></p></a>
                    </div>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
