{% extends 'base.html.twig' %}

{% block body %}
    <h1>Creneau</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ creneau.id }}</td>
            </tr>
            <tr>
                <th>Dateheure</th>
                <td>{% if creneau.dateheure %}{{ creneau.dateheure|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Duree</th>
                <td>{{ creneau.duree }}</td>
            </tr>
            <tr>
                <th>Lieu</th>
                <td>{{ creneau.lieu }}</td>
            </tr>
            <tr>
                <th>Capacité</th>
                <td>{{ creneau.capacite }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('creneau_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('creneau_edit', { 'id': creneau.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
