<!DOCTYPE html>
<html>
<head>
    {% block head %}
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Alter Ego{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('assets/images/logo_favicon.ico') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/base.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/form_worker.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/font-awesome-4.7.0/css/font-awesome.min.css') }}">
        {% block stylesheets %}{% endblock %}
    {% endblock %}
</head>
<body>


{% block navbar %}
    <section class="navbar">
        <input type="checkbox" id="check_nav" data-target="#">
        <label id="trans_nav" for="check_nav">
            <ul id="navbar_mobile">
                {% block nav_links %}

                {% endblock %}
            </ul>
        </label>
    </section>
{% endblock %}


{% block body %}

{% endblock %}
<script src="{{ asset('assets/js/jquery-3.1.1.min.js') }}"></script>
<script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
