<!DOCTYPE html>
<html>
<head>
    {% block head %}
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <title>{% block title %}Alter Ego{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('assets/images/logo_favicon.ico') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/base.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/form_worker.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/font-awesome-4.7.0/css/font-awesome.min.css') }}">
            <script type="text/javascript" src="{{ asset('assets/js/jquery-3.1.1.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
        {% block stylesheets %}{% endblock %}
    {% endblock %}
</head>
<body>


{% block navbar %}
    <section class="navbar">
            <div id="navbar_mobile">
                {% block nav_links %}

                {% endblock %}
            </div>
    </section>
{% endblock %}


{% block body %}

{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
