<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Alter Ego{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('assets/images/logo_favicon.ico') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/font-awesome.min.css') }}">
        <script src="{{ asset('assets/js/jquery-3.1.1.min.js') }}"></script>
        <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
    </head>
    <body>
        {% block body %}

            {% block header %}
            {% endblock %}

            {% block content %}
            {% endblock %}

            {% block footer %}
            {% endblock %}

        {% endblock %}

        {% block javascripts %}
        {% endblock %}

    </body>
</html>
