{% if is_granted('ROLE_WORKER') %}
    {% set route = 'AlterEgoBundle:Worker:layout_worker.html.twig' %}
{% endif %}
{% if is_granted('ROLE_COACH') %}
    {% set route = 'AlterEgoBundle:Coach:layout_coach.html.twig' %}
{% endif %}

    {% extends route %}

{% block content %}
    <link rel="stylesheet" href="{{ asset('assets/css/setting.css') }}">

<div id="change_password_container">
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_errors(form) }}
    <div class="valid_form">
        <button class="btn btn-success" type="submit" value="create">Valider</button>
    </div>
    {{ form_end(form) }}
</div>
{% endblock %}