{% extends 'AlterEgoBundle:Worker:layout_worker.html.twig' %}

{% block content %}
    {#{% include ('@ApplicationSonataUser/Profile/edit_profile.html.twig') %}#}

    {#{%  if user.photoprofil %}#}

    {#<a class="btn btn-success" href="{{ path('image_edit', {'id':user.photoprofil.id}) }}">Changer Ma photo de profil</a>#}


    {#{% else %}#}
    {#<a class="btn btn-success" href="{{ path('image_new') }}">Changer Ma photo de profil</a>#}

    {#{% endif %}#}

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-default" type="submit" value="create">send</button>
    {{ form_end(form) }}

{% endblock %}