{% if is_granted('ROLE_WORKER') %}
    {% set route = 'AlterEgoBundle:Worker:layout_worker.html.twig' %}
{% endif %}
{% if is_granted('ROLE_COACH') %}
    {% set route = 'AlterEgoBundle:Coach:layout_coach.html.twig' %}
{% endif %}

    {% extends route %}

{% block content %}
    <link rel="stylesheet" href="{{ asset('assets/css/setting.css') }}">
    {% if user.photoprofil %}

        <a class="photo_edit_link" href="{{ path('image_edit', {'id':user.photoprofil.id}) }}">
            <div class="edit_or_create_photo"><img class="photo_profile_edit"
                                                   src="{{ asset('uploads/images/' ~ user.photoprofil.path) }}" alt="">
            </div>
            <p class="lien_text">Changer ma photo de profil</p>
        </a>

    {% else %}

        <a class="photo_edit_link" href="{{ path('image_new') }}">
            <div class="edit_or_create_photo"><img class="photo_profile_edit"
                                                   src="{{ asset('assets/images/profil_picture/logo.jpg') }}" alt="">
            </div>
            <p class="lien_text">Ajouter ma photo de profil</p>
        </a>

    {% endif %}

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_errors(form) }}
    <div class="valid_form">
        <button class="btn btn-success" type="submit" value="create">Valider</button>
    </div>

    {{ form_end(form) }}
{% endblock %}