{% if is_granted('ROLE_WORKER') %}
    {% set route = 'AlterEgoBundle:Worker:layout_worker.html.twig' %}
{% endif %}
{% if is_granted('ROLE_COACH') %}
    {% set route = 'AlterEgoBundle:Coach:layout_coach.html.twig' %}
{% endif %}

    {% extends route %}


    {% block content %}
        <link rel="stylesheet" href="{{ asset('assets/css/setting.css') }}">
        <div class="content">


            <div class="setting_head">
                <a class="fa fa-cog edit_profile" href="{{ path('settings_edit') }}"></a>
                <div class="photo_container">
                    {% if user.photoprofil %}
                        <img class="photoprofile" src="{{ asset('uploads/images/' ~ user.photoprofil.path) }}" alt="">
                    {% else %}
                        <img class="photoprofile" src="{{ asset('assets/images/profil_picture/logo.jpg') }}" alt="">
                    {% endif %}
                </div>


                <h1 class="profile_name">{{ user.firstname|capitalize }} {{ user.lastname|capitalize }}</h1>
            </div>
        </div>







    {% endblock %}