{% if is_granted('ROLE_WORKER') %}
    {% set route = 'AlterEgoBundle:Worker:layout_worker.html.twig' %}
{% endif %}
{% if is_granted('ROLE_COACH') %}
    {% set route = 'AlterEgoBundle:Coach:layout_coach.html.twig' %}
{% endif %}

    {% extends route %}
{% block content %}
    <link rel="stylesheet" href="{{ asset('assets/css/profile_picture.css') }}">

<div class="photo_container" style="border: 2px solid white">
    <img id="blah" src="{{ asset('uploads/images/' ~ user.photoprofil.path) }}" alt="your image"/>
</div>

    {{ form_start(edit_form) }}

    {{ form_row(edit_form.file, {'id':'imgInp'}) }}
    <input class="btn btn-success" type="submit" value="Modifier" id="">
    {{ form_end(edit_form) }}

{% endblock %}

{% block javascripts %}
    <script>

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#blah').attr('src', e.target.result);
                    ;
                };


                reader.readAsDataURL(input.files[0]);
            }
        }
        $("#imgInp").change(function () {
            readURL(this);
        });
    </script>

{% endblock %}
