{% if is_granted('ROLE_WORKER') %}
    {% set route = 'AlterEgoBundle:Worker:layout_worker.html.twig' %}
{% endif %}
{% if is_granted('ROLE_COACH') %}
    {% set route = 'AlterEgoBundle:Coach:layout_coach.html.twig' %}
{% endif %}

    {% extends route %}

{% block content %}
    {#<link href="{{ asset('assets/cropper-master/src/css/cropper.css') }}" rel="stylesheet">#}

    <link rel="stylesheet" href="{{ asset('assets/css/profile_picture.css') }}">

    <div class="photo_container" style="border: 2px solid white">
        <img id="blah" src="#" alt="your image"/>
    </div>

    {{ form_start(form) }}

    {{ form_row(form.file, {'id':'imgInp'}) }}
    <input class="btn btn-success" type="submit" value="Créer" id="">
    {{ form_end(form) }}




{% endblock %}

{% block javascripts %}
    {#<script src="{{ asset('assets/cropper-master/src/js/cropper.js') }}"></script>#}
    {#<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/0.8.1/cropper.js"></script>#}
    <script>

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#blah').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#imgInp").change(function () {
            readURL(this);
        });
//
//        var image = document.getElementById('blah');
//        var cropper = new Cropper(image, {
//            aspectRatio: 1 / 1,
//            crop: function(e) {
//                console.log(e.detail.x);
//                console.log(e.detail.y);
//                console.log(e.detail.width);
//                console.log(e.detail.height);
//                console.log(e.detail.rotate);
//                console.log(e.detail.scaleX);
//                console.log(e.detail.scaleY);
//            }
//        });
//
//
//

    </script>

{% endblock %}
