{% extends '::base.html.twig' %}

       {% block nav_links %} {#définie les liens de la navbar#}
           <li><a class="fa fa-home" href="{{ path('worker_index') }}"></a></li>
           {#<li><a class="fa fa-trophy" href="{{ path('badges') }}"></a></li>#}
           {#<li><a class="fa fa-users" href="{{ path('friends') }}"></a></li>#}
           <li><a class="fa fa-play-circle-o" href="{{ path('seances') }}"></a></li>
           <li><a class="fa fa-calendar" href="{{ path('reservation') }}"></a></li>
           {#<li><a class="fa fa-line-chart" href="{{ path('performances') }}"></a></li>#}
           <li><a class="fa fa-user-circle-o" href="{{ path('settings') }}"></a></li>
           <li><a class="fa fa-sign-out last_child" href="{{ path('fos_user_security_logout') }}"></a></li>
       {% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/worker.css') }}">
{% endblock %}
   {% block body %}



       {% block header %}

       {% endblock %}

       <div class="content">
           {% block content %}

           {% endblock %}
       </div>

       {% block footer %}
           <div class="cgu_worker">
            <a class="cgu_worker" href="{{ path('cgu_worker') }}">Copyright <span class="fa fa-copyright"></span> AlterEgo Digital 2017</a>
           </div>
       {% endblock %}


   {% endblock %}
