{% extends 'AlterEgoBundle:Worker:layout_worker.html.twig' %}

{% block content %}
    {% if app.session.flashBag.has('success') %}
        <div class="alert alert-success">
            {% for msg in app.session.flashBag.get('success') %}
                {{ msg }}
            {% endfor %}
        </div>
    {% endif %}
    <div class="text-center">
        <i class="fa fa-pencil-p"></i><h1>Evaluez vos séances !</h1>
    </div>

    {% if reservations %}
        {% for reservation in reservations %}
            <div class="tuile_header">
                <h2>
                    <i class="fa fa-hourglass"></i> Notez
                        {% if reservation.creneau.activite.user.firstname or reservation.creneau.activite.user.lastname %}
                            {{ reservation.creneau.activite.user.firstname }} {{ reservation.creneau.activite.user.lastname }}
                         {% else %}
                             {{ reservation.creneau.activite.user.username }}
                        {% endif %}
                </h2>
            </div>
            <div class="tuile_rating tuile_body text-center">
                <div>
                    <p class="text-center"><i class="fa fa-futbol-o"></i> Activité proposée : {{ reservation.creneau.activite.activite }}</p>
                    <p class="text-center"><i class="fa fa-clock-o"></i> Date de l'activité : {{ reservation.creneau.dateheure|date('d/m/Y à H:i') }}</p>
                    <div class="text-center">
                        {% for i in 1..5 %}
                            <a class="star" href="{{ path('vote', {'id':reservation.id, 'note':i}) }}"><i class="fa fa-star fa-2x ratingstar"></i></a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>Vous n'avez pas de réservation à noter.</p>
        <a href="{{ path('seances') }}">Voulez vous reserver une activite ?</a>
    {% endif %}
{% endblock %}