{% extends 'AlterEgoBundle:Worker:layout_worker.html.twig' %}

{% block head %}
    <link rel="stylesheet" href="{{ asset('assets/fullcalendar-3.1.0/fullcalendar.css') }}">
    {{ parent() }}

{% endblock %}

{% block content %}
    <div class=" agenda">
        <div class="container agenda">
            <h1 class="text-center titre_agenda">Mes Séances</h1>
            <div id='calendar'></div>
        </div>
    </div>
    <div id="eventContent" title="Event Details" style="display:none;">
        Start: <span id="startTime"></span><br>
        End: <span id="endTime"></span><br><br>
        <p id="eventInfo"></p>
        <p><strong><a id="eventLink" href="" target="_blank">Read More</a></strong></p>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/fullcalendar-3.1.0/lib/moment.min.js') }}"></script>
    <script src="{{ asset('assets/fullcalendar-3.1.0/fullcalendar.js') }}"></script>
    <script>
        {{ include('@AlterEgo/Worker/calendar_worker.js.twig') }}
    </script>
{% endblock %}