{% extends 'AlterEgoBundle:Worker:layout_worker.html.twig' %}

{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/fullcalendar-3.1.0/fullcalendar.css') }}">
{% endblock %}

{% block content %}
    <div class=" agenda">
        <div class="container agenda">
            <h1 class="text-center titre_agenda">Mes Scéances</h1>
            <div id='calendar'></div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/fullcalendar-3.1.0/lib/moment.min.js') }}"></script>
    <script src="{{ asset('assets/fullcalendar-3.1.0/fullcalendar.js') }}"></script>
    <script>
        $(document).ready(function () {

            var date = new Date();
            var d = date.getDate();
            var m = date.getMonth();
            var y = date.getFullYear();

            $('#calendar').fullCalendar({

                locale: 'fr',
                firstDay: 1,
                defaultView: 'basicWeek',
                eventColor: '#378006',

                header: {
                    center: 'agendaWeek,month' // buttons for switching between views
                },

                views: {
                    basicWeek: {

                    }
                },

                events: [
                    {{ boucler ici }}
                    {
                        title: 'Lunch',
                        start: new Date(y, m, d, 12, 0),
                        end: new Date(y, m, d, 14, 0),
                        allDay: false
                    },
                ]
            })
        });
    </script>
{% endblock %}
