{% extends 'AlterEgoBundle:Worker:layout_worker.html.twig' %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="block_seances_list">
                <ul >
                    <li>{{ dump(seances) }}</li>
                    {% for seance in seances %}
                        <li class="list_title">{{ seance.activite.activite }} </li>
                        <li class="list_title">{{ seance.dateheure | date('Y-m-d H:i:s') }} </li>
                        <li class="list_title">{{ seance.lieu }} </li>
                        <li> <a class="reservation_access" href="{{ path('seance_show', { 'id': seance.activite.id }) }}">Réserver</a></li>
                     {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
