{% extends 'AlterEgoBundle:Worker:layout_worker.html.twig' %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="block_seances_list">
                <ul>
                    {% for seance in seances %}
                        <li class="list_title">{{ seance.activite.activite | upper }} </li>
                        <li>Lieu : {{ seance.lieu }} </li>
                        <li>Coach : {{ seance.activite.user.firstname }} {{ seance.activite.user.lastname }} </li>
                        <li> <a class="reservation_access" href="{{ path('seance_show', { 'id': seance.activite.id, 'creid': seance.id }) }}">Réserver</a></li>
                     {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
