{% extends 'AlterEgoBundle:Worker:layout_worker.html.twig' %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block content %}
    {% if app.session.flashBag.has('success') %}
        <div class="alert alert-success">
            {% for msg in app.session.flashBag.get('success') %}
                {{ msg }}
            {% endfor %}
        </div>
    {% endif %}
    <h1 class="text-center titre_seance">Liste des activités disponibles</h1>
        {% for seance in res %}
            <div class="tuile tuile_seance">
                <div class="tuile_body_left">
                    <h2 class="nom_seance">{{ seance.activite.activite | upper }}</h2>
                    <h3>{{ seance.lieu }}
                        avec </br> {{ seance.activite.user.firstname }} {{ seance.activite.user.lastname }}</h3>
                    <p>{{ seance.dateheure | date('d/m/y') }} à {{ seance.dateheure | date('H:i') }}</p>
                    <p>Il reste : {{ seance.placerestantes ~ '/' ~ seance.capacite }} place(s)</p>
                </div>
                <div class="tuile_body_right">
                    <a class="reservation_access" href="{{ path('seance_show', { 'id': seance.id }) }}">Réserver</a>
                </div>
            </div>
        {% else %}
            <h2>Pas de Séances disponible pour le moment !</h2>
        {% endfor %}

{% endblock %}