{% extends 'AlterEgoBundle:Worker:layout_worker.html.twig' %}

{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
    {% if app.session.flashBag.has('success') %}
        <div class="alert alert-success">
            {% for msg in app.session.flashBag.get('success') %}
                {{ msg }}
            {% endfor %}
        </div>
        {% elseif app.session.flashBag.has('warning') %}
            <div class="alert alert-warning">
                {% for msg in app.session.flashBag.get('warning') %}
                    {{ msg }}
                {% endfor %}
            </div>
    {% endif %}
    <h1 class="text-center titre_seance">Liste des activités disponibles</h1>
    {% if res %}
        {% for seance in res %}
            <div class="tuile tuile_seance">
                <div class="tuile_body_left">
                    <h2 class="nom_seance"> |{{ seance.activite.activite | upper }}</h2>
                    <h3>{{ seance.lieu }}
                        avec </br> {{ seance.activite.user.firstname }} {{ seance.activite.user.lastname }}</h3>
                    <p class="pull-left"><i class="fa fa-arrow-circle-o-right"></i> Date : Le {{ seance.dateheure | date('d M Y') }} à {{ seance.dateheure | date('H:i') }}</p>
                    <p class="pull-left"><i class="fa fa-arrow-circle-o-right"></i> Place(s) : {{ seance.placerestantes ~ '/' ~ seance.capacite }} place(s)</p>
                </div>
                <div class="tuile_body_right">
                    <a class="reservation_access" href="{{ path('seance_show', { 'id': seance.id }) }}">RESERVER</a>
                </div>
            </div>

        {% endfor %}
    {% else %}
        <div class="tuile_header">
            <h2 class="text-center"><span><i class="fa fa-warning"></i> Pas de séance disponible !</span></h2>
        </div>
        <div class="tuile_body text-center">
            <p>Aucune séance n'est disponible pour le moment. Un coach proposera trés bientôt une nouvelle activité !</p>
        </div>
    {% endif %}
{% endblock %}