{% extends 'AlterEgoBundle:Worker:layout_worker.html.twig' %}

{% block content %}
    {{ dump(user) }}
    {#{{ dump(photo) }}#}

    {#<img src="{{ asset('uploads/images/'~ user.photoprofil.path) }}" alt="photo de {{ user.username }}">#}
<ul>
    <li>
        Prénom{{ user.firstname }}
    </li>
    <li>
        Nom{{ user.lastname }}
    </li>
    <li>
        {{ user.dateOfBirth|date("d/m/Y") }}
    </li>
    <li>
        E-mail{{ user.email }}
    </li>
    <li>
        Sexe {{ user.gender }}
    </li>
    <li>
        Téléphone {{ user.phone|default('pas de numéro renseigné') }}
    </li>
    <li>
        <a class="btn btn-success" href="{{ path('settings_edit') }}">éditer mon profil</a>
    </li>
</ul>


{% endblock %}