{% extends 'AlterEgoBundle:Worker:layout_worker.html.twig' %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-offset-4 col-xs-6 top_worker_zone">
            <img class="img-circle img-responsive top_worker" src="{{ asset ('assets/images/photo_user_worker.jpg') }}" alt="">
        </div>
        <div class="col-xs-12">
            <h1 class="name_user_worker">Bonjour, Sarah Croche</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-5 block_worker">
            <h1 class="last_seance">Dernière séance :</h1>
            <h2 class="last_seance_date">du 05/12/2016</h2>
            <img class="col-xs-offset-4 img-responsive icon_last_seance" src="{{ asset ('assets/images/icon_time.png') }}" alt="">
            <p class="text_last_seance">Durée : 1h</p>
            <img class="col-xs-offset-4 img-responsive icon_last_seance" src="{{ asset ('assets/images/icon_calorie.png') }}" alt="">
            <p class="text_last_seance">386 KCal dépensées</p>
        </div>
        <div class="col-xs-5 block_worker">
            <h1 class="next_seance">Prochaine séance :</h1>
            <h2 class="last_seance_date">Coach :</h2>
            <img class="col-xs-offset-3 img-circle img-responsive link_photo_coach" src="{{ asset ('assets/images/photo_coach.jpg') }}" alt="">
            <p class="text_next_seance">Séance de Yoga - 1h</p>
            <p class="text_next_seance">le 15 Déc. 2016 - 16:30</p>
            <p class="text_next_seance">Salle : Halle des sports</p>

        </div>
        <div class="col-xs-5 block_worker">
           
        </div>
        <div class="col-xs-5 block_worker">


        </div>
    </div>
</div>
{% endblock %}
