{% extends 'AlterEgoBundle:Worker:layout_worker.html.twig' %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 top_worker">
                <img class="img_top_w" src="{{ asset ('assets/images/logo-safran.png') }}" alt="">
            </div>
        </div>
        <div class="row">
            <div class="top_worker_by">
                <h2 class="col-xs-offset-6 col-xs-2 by">by</h2>
                <img class="col-xs-2 img_top_right_w" src="{{ asset ('assets/images/logo_alterego.svg') }}" alt="">
            </div>
        </div>
    </div>
        <h1 class="name_worker">Bonjour {% if app.user.firstname  %}{{ app.user.firstname|title }}{% else %} {{ app.user.username|title }}{% endif %}</h1>    <div class="tuile">
        <div class="tuile_header">
            <h2><i class="fa fa-clock-o i_left" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Ma prochaine séance
                <a href="seances"><i class="fa fa-plus i_right" aria-hidden="true"></i></a></h2>
        </div>
    {% if reservation is empty %}
        <div class="tuile_body">
            <p>vous n'avez pas de réservation</p>
            <a class="btn btn-primary" href="{{ path('seances') }}"> Réserver un séance ?</a>
        </div>
    {% else %}
        <div class="tuile_body">
            <div class="info">
                <p class="activity_info_worker">{{ reservation.creneau.activite.activite|upper }}
                    <br/>
                    {% if "now"|date('Ymd') == reservation.creneau.dateheure|date('Ymd') %}
                        Aujourd'huis
                    {% elseif "now"|date_modify('+1 day')|date('Ymd') == reservation.creneau.dateheure|date('Ymd') %}
                        Demain
                    {% else %}
                        le {{ reservation.creneau.dateheure|date("d\/m\/y") }}
                    {% endif %}
                    à<span> {{ reservation.creneau.dateheure|date("H:i") }}</span></p>
                <p class="lieu_worker"><i class="fa fa-map-marker pin_seance" aria-hidden="true"></i>{{ reservation.creneau.lieu }}</p>
            </div>
            {% if reservation.isPresent == 1 and "now"|date('U') <= (reservation.creneau.dateheure|date('U') + (reservation.creneau.duree * 60))  %}
               <p>SEANCE EN COURS <span><img src="{{ asset('assets/images/30.gif') }}" alt="loader"></span></p>
            {% elseif "now"|date('Ymd Hi') < reservation.creneau.dateheure|date('Ymd Hi') %}
                <p>Pensez à prendre des forces !</p>
            {% else %}
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button class="start_activity" type="submit" value="Create">
                <p>DEMARRER</p>
                <img class="start_coach" src="{{ asset ('assets/images/start.svg') }}" alt="">
            </button>
            {{ form_end(form) }}
            {% endif %}
        </div>
    {% endif %}
    </div>
    <div class="tuile">
        <div class="tuile_header actu_rh">
            <h2 class="title_seance_worker"><i class="fa fa-bullhorn i_left" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Mes infos RH</h2>
        </div>
        <div class="tuile_body">
            <p class="rh_news">Safran vous souhaite une excellente journée !</p>
        </div>
    </div>

    {% set nombre = 0 %}
    {% for reservation in enattente %}
        {% if reservation.noteCoach is null and "now"|date('U') >= (reservation.creneau.dateheure|date('U') + (reservation.creneau.duree * 60)) %}
            {%  set nombre = nombre + 1 %}
        {%  endif %}
    {% endfor %}
        <div class="tuile">
            <div class="tuile_header note_coach">
                <h2 class="title_seance_worker"><i class="fa fa-star-half-o i_left" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Note ta séance </h2>
            </div>
            <div class="tuile_body">
                {% if nombre > 0  %}
                <p class="rh_news">Vous avez {{ nombre }} séance(s) à noter</p>
                {% else %}
                <p class="rh_news">Vous n'avez aucune séance à noter !</p>
                {% endif %}
            </div>
        </div>
{% endblock %}