{% extends 'AlterEgoBundle:Worker:layout_worker.html.twig' %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 top_worker">
                <img class="img_top_w" src="{{ asset ('assets/images/logo-safran.png') }}" alt="">
            </div>
        </div>
        <div class="row">
            <div class="top_worker_by">
                <h2 class="col-xs-offset-6 col-xs-2 by">by</h2>
                <img class="col-xs-2 img_top_right_w" src="{{ asset ('assets/images/logo_alterego.svg') }}" alt="">
            </div>
        </div>
    </div>
            <h1 class="name_worker">Bonjour Mickaël</h1>
        <div class="tuile">
            <div class="tuile_header">
                <img class="ico_clock_worker fa fa-clock-o" alt="">
                <h2 class="title_seance_worker">Ma prochaine Séance</h2>
            </div>
            <div class="tuile_body">
                {% for reservation in reservations %}
                <p class="time_info_worker">Séance de Yoga, <br/>aujourd'hui à <span>9:30</span></p>
                <p class="lieu_worker">Lieu : {{ reservation.creneau.lieu }} </p>
                    {% endfor %}
                <div class="start_activity">
                    {# <a href="{{ path('worker', {'creneau': creaneau.startseance }) }}"> #}
                    <p>DEMARRER</p>
                    <img class="start_coach" src="{{ asset ('assets/images/start.png') }}" alt="">
                    {# </a> #}
                </div>
            </div>
        </div>

        <div class="tuile">
            <div class="tuile_header actu_rh">
                <img class="ico_clock_worker" src="{{ asset ('assets/images/hp.png') }}" alt="">
                <h2 class="title_seance_worker">Votre Actualité RH</h2>
            </div>
            <div class="tuile_body">
                <p class="rh_news">Safran vous souhaite une excellente journée !</p>
            </div>
        </div>

{% endblock %}