{% extends 'AlterEgoBundle:Coach:layout_coach.html.twig' %}

{% block content %}
        <h1 class="title_activity">Editer votre Activité</h1>

        {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <button class="btn btn-primary btn_edit_act" type="submit" value="Edit"><i class="fa fa-pencil"></i> Editer</button>
        {{ form_end(edit_form) }}

        {{ form_start(delete_form) }}
        <button class="btn btn-danger btn_edit_act" type="submit" value="Delete"><i class="fa fa-ban"></i> Annuler</button>
        {{ form_end(delete_form) }}
{% endblock %}
