{% extends 'AlterEgoBundle:Coach:layout_coach.html.twig' %}

{% block content %}
    <div class="container well text-center">
        <div class="row">
            <div class="form-group">
                {{ form_label(form.type, "Type", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                <div class="col-sm-8">
                {{ form_widget(form.type) }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                {{ form_label(form.info, "Détails Activité", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                <div class="col-sm-8">
                {{ form_widget(form.info) }}
                </div>
            </div>
        </div>
        <div>
            <input class="btn btn-success" type="submit" value="Créer !" />
        </div>
        <div>
            <a class="btn btn-primary" href="{{ path('activite_index') }}">Retourner à la liste de Mes Activités</a>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
