{% extends 'AlterEgoBundle:Worker:layout_worker.html.twig' %}
{% block head %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <h1 class="title_activity">Activite</h1>
    <table>
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ activite.id }}</td>
        </tr>
        <tr>
            <th>Activite</th>
            <td>{{ activite.activite }}</td>
        </tr>
        <tr>
            <th>Type</th>
            <td>{{ activite.type }}</td>
        </tr>
        <tr>
            <th>Info</th>
            <td>{{ activite.info }}</td>
        </tr>
        </tbody>
    </table>
{% endblock %}
