{% extends 'AlterEgoBundle:Worker:layout_worker.html.twig' %}
{% block head %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <h1 class="title_activity">Activite</h1>
    <table class="table-condensed table-responsive table-striped">
        {{ dump(seance) }}
        <tbody>
        <tr>
            <th>Activite</th>
            <td>{{ seance.0.activite.activite }}</td>
        </tr>
        <tr>
            <th>Type</th>
            <td>{{ seance.0.activite.type }}</td>
        </tr>
        <tr>
            <th>Info</th>
            <td>{{ seance.0.activite.info }}</td>
        </tr>
        <tr>
            <th>Date</th>
            <td>{{ seance.0.dateheure | date('Y-m-d H:i') }}</td>
        </tr>
        <tr>
            <th>Coach</th>
            <td>{{ seance.0.activite.user }}</td>
        </tr>
        </tbody>
    </table>
    {%   render controller('AlterEgoBundle:Reservation:new', {'id': seance.0.id}) %}
{% endblock %}
