{% extends 'AlterEgoBundle:Worker:layout_worker.html.twig' %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block body %}
    <h1 class="title_activity">Activite</h1>
<div class="container-fluid">

    <table>
        <tbody class="block_body_plus">
            <tr class="block_info">
                <th class="title_type_activity">Numéro activité:</th>
                <td>{{ activite.id }}</td>
            </tr>
            <tr>
                <th class="title_type_activity">Activite:</th>
                <td>{{ activite.activite }}</td>
            </tr>
            <tr>
                <th class="title_type_activity">Type:</th>
                <td>{{ activite.type }}</td>
            </tr>
            <tr>
                <th class="title_type_activity">Info:</th>
                <td>{{ activite.info }}</td>
            </tr>

        </tbody>
    </table>
</div>
    <div class="container-fluid">
        <div class="row">
    <ul>
        <li>
            <button class="btn btn-info">Réserver</button>
        </li>
        <li>
            <a href="{{ path('seances') }}">Retour à la liste des Activités</a>
        </li>
    </ul>
    </div>
    </div>
{% endblock %}
