{% extends 'AlterEgoBundle:Worker:layout_worker.html.twig' %}

{% block body %}
    {% if app.session.flashBag.has('success') %}
        <div class="alert alert-success">
            {% for msg in app.session.flashBag.get('success') %}
                {{ msg }}
            {% endfor %}
        </div>
    {% endif %}
    <div class="container-fluid">
        <h1 class="title_activity">Récapitulatif de votre réservation :</h1>

        <table class="table-condensed table-responsive table-striped">
            <tbody>
            <tr>
                <th>Réservation N° </th>
                <td>{{ reservation.id }}</td>
            </tr>
            <tr>
                <th>Activite</th>
                <td>{{ reservation.creneau.activite.activite }}</td>
            </tr>
            <tr>
                <th>Date de début :</th>
                <td>Le {{ reservation.creneau.dateheure | date(" m-d-Y à H:i") | trans }}</td>
            </tr>
            <tr>
                <th>Durée</th>
                <td>{{ reservation.creneau.duree }} min</td>
            </tr>
            <tr>
                <th>Lieu</th>
                <td>{{ reservation.creneau.lieu }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ reservation.creneau.activite.type }}</td>
            </tr>
            <tr>
                <th>Infos Complémentaire</th>
                <td>{{ reservation.creneau.activite.info }}</td>
            </tr>
            </tbody>
        </table>

        <ul class="text-center center-block">
            <li>
                <a class="btn btn-success" href="{{ path('seances') }}">Retourner à la liste des séances ?</a>
                <a class="btn btn-success" href="{{ path('worker_index') }}">Retourner sur mon profil</a>
            </li>
            <li>
                <a class="btn btn-primary" href="{{ path('reservation_edit', { 'id': reservation.id }) }}">Edit</a>
            </li>
            <li>
                {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
                {{ form_end(delete_form) }}
            </li>
        </ul>
    </div>
{% endblock %}

