{% extends 'AlterEgoBundle:Worker:layout_worker.html.twig' %}

{% block content %}
    {% if app.session.flashBag.has('success') %}
        <div class="alert alert-success">
            {% for msg in app.session.flashBag.get('success') %}
                {{ msg }}
            {% endfor %}
        </div>
    {% endif %}
    {#<div class="container-fluid">#}
        <h1 class="title_activity">Récapitulatif de votre réservation :</h1>
        {#<table class="table-condensed table-responsive table-striped">#}
            {#<tbody>#}
            {#<tr>#}
                {#<th>Réservation N° </th>#}
                {#<td>{{ reservation.id }}</td>#}
            {#</tr>#}
            {#<tr>#}
                {#<th>Activité</th>#}
                {#<td>{{ reservation.creneau.activite.activite }}</td>#}
            {#</tr>#}
            {#<tr>#}
                {#<th>Date de début :</th>#}
                {#<td>Le {{ reservation.creneau.dateheure | date(" m-d-Y à H:i") | trans }}</td>#}
            {#</tr>#}
            {#<tr>#}
                {#<th>Durée</th>#}
                {#<td>{{ reservation.creneau.duree }} min</td>#}
            {#</tr>#}
            {#<tr>#}
                {#<th>Lieu</th>#}
                {#<td>{{ reservation.creneau.lieu }}</td>#}
            {#</tr>#}
            {#<tr>#}
                {#<th>Type</th>#}
                {#<td>{{ reservation.creneau.activite.type }}</td>#}
            {#</tr>#}
            {#<tr>#}
                {#<th>Infos Complémentaire</th>#}
                {#<td>{{ reservation.creneau.activite.info }}</td>#}
            {#</tr>#}
            {#</tbody>#}
        {#</table>#}

        <div class="span3">
            <div class="well">
                <h2 class="text-info text-center activite_style">{{ reservation.creneau.activite.activite|upper }}</h2>
                <p><span class="label label-info">{{ reservation.creneau.activite.type }}</span></p>
                <ul>
                    <li>Le {{ reservation.creneau.dateheure | date(" m-d-Y à H:i") | trans }}</li>
                    <li>Où : {{ reservation.creneau.lieu }}</li>
                </ul>
                <h3 class="right-sidet back_coach"><i class="fa fa-user-circle-o "></i> COACH</h3>
                <p class="text-center">{{ reservation.creneau.activite.user.firstname }} {{ reservation.creneau.activite.user.lastname }}</p>
                <hr>
                <h3 class=" back_coach"><i class="fa fa-info-circle"></i> INFO</h3>
                <p class="text-center">{{ reservation.creneau.activite.info }}</p>
                {#<h3 class="pull-right">Prix : 9.99 euros <i class="fa fa-euro"></i></h3>#}
                <hr>
                <div class="text-center center-block">
                    {#<a class="btn btn-primary" href="{{ path('reservation_edit', { 'id': reservation.id }) }}">Edit</a>#}
                    {{ form_start(delete_form) }}
                    <a class="btn btn-danger btn-reservation" href="{{ path('reservation_archive', {'id' : reservation.creneau.id}) }}"><i class="fa fa-ban"></i> Annuler réservation</a>
                    {{ form_end(delete_form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

