{% extends 'AlterEgoBundle:Worker:layout_worker.html.twig' %}

{% block content %}
    {% if app.session.flashBag.has('success') %}
        <div class="alert alert-success">
            {% for msg in app.session.flashBag.get('success') %}
                {{ msg }}
            {% endfor %}
        </div>
    {% endif %}
        <h1 class="title_activity">VOTRE RESERVATION</h1>
        <div class="span3">
            <div class="well">
                <h2 class="text-info text-center activite_style placement">{{ reservation.creneau.activite.activite|upper }}</h2>
                <p class="text-center content_size"><span class="label label-info">Type : {{ reservation.creneau.activite.type }}</span></p>
                <ul class="list-unstyled text-center">
                    <li class="content_size"><i class="fa fa-arrow-circle-right"></i> Le {{ reservation.creneau.dateheure | date(" m-d-Y à H:i") | trans }}</li>
                    <li class="content_size"><i class="fa fa-arrow-circle-right"></i> Où : {{ reservation.creneau.lieu }}</li>
                </ul>
                <h3 class="right-sidet back_coach"><i class="fa fa-user-circle-o "></i> COACH</h3>
                <p class="text-center content_size">{{ reservation.creneau.activite.user.firstname }} {{ reservation.creneau.activite.user.lastname }}</p>
                <hr>
                <h3 class=" back_coach"><i class="fa fa-info-circle"></i> INFO</h3>
                <p class="text-center content_size">{{ reservation.creneau.activite.info }}</p>
                {#<h3 class="pull-right">Prix : 9.99 euros <i class="fa fa-euro"></i></h3>#}
                <hr>
                <div class="text-center center-block">
                    {#<a class="btn btn-primary" href="{{ path('reservation_edit', { 'id': reservation.id }) }}">Edit</a>#}
                    {{ form_start(delete_form) }}
                    <a class="btn btn-danger btn-reservation" href="{{ path('reservation_archive', {'id' : reservation.creneau.id}) }}"><i class="fa fa-ban"></i> Annuler réservation</a>
                    {{ form_end(delete_form) }}
                </div>
            </div>
        </div>
{% endblock %}

