{% extends 'AlterEgoBundle:Coach:layout_coach.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}




{% block content %}


    <h1>{{ seance.activite.activite }}</h1>
    <div class="seance_date">
        <div>{{ seance.dateheure|date('m/d') }}</div>
        <div><i class="fa fa-clock-o" aria-hidden="true">{{ seance.dateheure|date('h:i') }}</i>&nbsp;&nbsp;<i
                    class="fa fa-long-arrow-right" aria-hidden="true"></i>
            &nbsp;&nbsp;<i class="fa fa-clock-o fa-clock-reverse"
                           aria-hidden="true"></i>&nbsp;{{ seance.dateheure|date_modify('+'~seance.duree ~'minutes')|date('h:i') }}
        </div>
    </div>
    <p>{{ seance.lieu }}</p>


    <p>
        {{ nbPresents }}/{{ nbInscrits }}
        {% if nbInscrits == 1 %}
            present
        {% else %}
            présents
        {% endif %}
    </p>

    {% for reservation in seance.reservations %}

        {% if reservation.isPresent == null %}

            <div class="check_container grey_container">
                {{ render(controller('AlterEgoBundle:Checking:userInfoChecking', {'id':reservation.user.id})) }}
                <div class="check_right">
                    <a class="check_link fa fa-check" id="link_1"
                       href="{{ path('checking_worker', {'id':reservation.id}) }}"></a>
                    <a class="check_link fa fa-times" id="link_2"
                       href="{{ path('afk_worker', {'id':reservation.id}) }}"></a>
                </div>
            </div>

        {% elseif reservation.isPresent == 1 %}

            <div class="check_container green_container">
                {{ render(controller('AlterEgoBundle:Checking:userInfoChecking', {'id':reservation.user.id})) }}
                <div class="check_right">
                    <a class="check_link fa fa-check" id="link_1"
                       href="{{ path('checking_worker', {'id':reservation.id}) }}"></a>
                    <a class="check_link fa fa-times" id="link_2"
                       href="{{ path('afk_worker', {'id':reservation.id}) }}"></a>
                </div>
            </div>

        {% elseif reservation.isPresent == 2 %}

            <div class="check_container green_container" id="participant">
                {{ render(controller('AlterEgoBundle:Checking:userInfoChecking', {'id':reservation.user.id})) }}
                <div class="check_right">
                    <a class="check_link fa fa-times" id="link_2"
                       href="{{ path('afk_worker', {'id':reservation.id}) }}"></a>
                </div>
            </div>


        {% elseif reservation.isPresent == 3 %}
            <div class="check_container red_container">
                {{ render(controller('AlterEgoBundle:Checking:userInfoChecking', {'id':reservation.user.id})) }}
                <div class="check_right">
                    <a class="check_link fa fa-check" id="link_1"
                       href="{{ path('checking_worker', {'id':reservation.id}) }}"></a>
                </div>

            </div>


        {% endif %}


    {% endfor %}

{% endblock %}