{% extends 'AlterEgoBundle:Coach:layout_coach.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}



{% block content %}

    <h1>{{ seance.activite.activite }}</h1>
    <p>{{ seance.dateheure|date('m/d') }}&nbsp;{{ seance.dateheure|date('h:i') }}&nbsp;{{ seance.dateheure|date_modify('+'~seance.duree ~'minutes')|date('h:i') }}</p>
    <p>{{ seance.lieu }}</p>

    {% for reservation in reservations %}

        <div class="check_container">
            <img class="check_photo" src="{{ asset('assets/images/profil_picture/logo.jpg') }}" alt="photo de profile {{ reservation.user.username }}">
            <p class="check_name">{{ reservation.user.firstname }}&nbsp;{{ reservation.user.lastname }}  {{ reservation.user.username }}</p>


            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button class="check_btn" type="submit" value="Create">
                <p>Présent</p>
            </button>
            {{ form_end(form) }}
        </div>

    {% endfor %}

{% endblock %}