{% extends '::base.html.twig' %}

       {% block nav_links %}
           <li><a class="fa fa-home" href="{{ path('coach_index') }}"></a></li>
           <li><a class="fa fa-users" href="#"></a></li>
           <li><a class="fa fa-line-chart" href="#"></a></li>
           <li><a class="fa fa-plus" href="{{ path('activite_index') }}"></a></li>
           <li><a class="fa fa-heartbeat" href="#"></a></li>
           <li><a class="fa fa-cogs" href="#"></a></li>
           <li><a class="fa fa-sign-out last_child" href="{{ path('fos_user_security_logout') }}"></a></li>
       {% endblock %}

    {% block title %}Espace Coach - Alter-Ego{% endblock %}
    {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/coach.css') }}">
    {% endblock %}
   {% block body %}

       {% block header %}

       {% endblock %}

       <div class="content">
           {% block content %}
           {% endblock %}
       </div>

       {% block footer %}
           <div class="cgu_coach">
               <a class="cgu_coach" href="{{ path('cgu_coach') }}">Copyright <span class="fa fa-copyright"></span> AlterEgo Digital 2017</a>
           </div>
       {% endblock %}

   {% endblock %}