{% extends 'AlterEgoBundle:Coach:layout_coach.html.twig' %}

{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/fullcalendar-3.1.0/fullcalendar.css') }}">
{% endblock %}

{% block content %}
    <div class=" agenda">
        <div class="container agenda">
            <h1 class="text-center titre_agenda">Mes Séances</h1>
            <div id='calendar'></div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/fullcalendar-3.1.0/lib/moment.min.js') }}"></script>
    <script src="{{ asset('assets/fullcalendar-3.1.0/fullcalendar.js') }}"></script>
    <script>
        {{ include('@AlterEgo/Coach/calendar_coach.js.twig') }}
    </script>
{% endblock %}