{% extends 'base.html.twig' %}

{% block body %}
    <h1>Infosemploye</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ infosEmploye.id }}</td>
            </tr>
            <tr>
                <th>Poids</th>
                <td>{{ infosEmploye.poids }}</td>
            </tr>
            <tr>
                <th>Taille</th>
                <td>{{ infosEmploye.taille }}</td>
            </tr>
            <tr>
                <th>Imc</th>
                <td>{{ infosEmploye.imc }}</td>
            </tr>
            <tr>
                <th>Forme</th>
                <td>{{ infosEmploye.forme }}</td>
            </tr>
            <tr>
                <th>Iduser</th>
                <td>{{ infosEmploye.idUser }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('infosemploye_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('infosemploye_edit', { 'id': infosEmploye.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
